/*
* @subsection   Vide
* @description  Describes style declarations for Vide extension 
*/

.vide {
  &__body {
    position: relative;
  }
  .page{
    z-index: 1;
    position: relative;
  }
  min-height: 100vh;
}