/*
* Fixed Layout
*/

$navbar-fixed-height: $navbar-min-height;
$navbar-fixed-line-height: $navbar-min-line-height;
$navbar-fixed-font-size: $navbar-min-font-size;

$navbar-fixed-panel-color: $navbar-panel-color;
$navbar-fixed-panel-background: $navbar-panel-background;
$navbar-fixed-shadow: $navbar-shadow;

html.rd-navbar--has-fixed{
  body{
    padding-top: $navbar-fixed-height;
  }
}

.rd-navbar-fixed {
  display: block;

  // RD Navbar Brand
  .rd-navbar-brand {
    position: relative;
    display: inline-block;
    padding-left: ($navbar-fixed-height - $navbar-fixed-line-height)/2;
    width: calc(100% - #{$navbar-fixed-line-height*3 + ($navbar-fixed-height - $navbar-fixed-line-height)/2*3});

    .brand-name {
      display: inline-block;
      font-size: $navbar-fixed-font-size;
      line-height: $navbar-fixed-line-height;
    }

    .brand-slogan {
      display: none;
    }
  }

  // RD Navbar Panel
  .rd-navbar-panel {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
    height: $navbar-fixed-height;
    color: $navbar-fixed-panel-color;
    box-shadow: $navbar-fixed-shadow;
    z-index: 999;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: $navbar-fixed-panel-background;
    }
  }

  // RD Navbar Toggle
  .rd-navbar-toggle {
    display: inline-block;
  }

  // RD Navbar Collapse
  .rd-navbar-collapse {
    right: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
    z-index: 1000;

    &-items {
      top: 100%;
      right: 0;
      margin-top: 8px;
      @include transform(translateY(30px));
      opacity: 0;
      visibility: hidden;
    }

    &.active {
      .rd-navbar-collapse-items {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
      }
    }
  }

  // RD Navbar Search
  .rd-navbar-search {
    &-form, &-toggle {
      right: $navbar-fixed-height;
    }

    &-form, .rd-navbar-live-search-results{ 
      position: fixed;
      margin-right: 0;
      margin-left: auto;
    }

    .rd-navbar-live-search-results{
      top: $navbar-fixed-height;
    }

    &-form {
      top: 0;
      left: $navbar-fixed-height;
      height: $navbar-fixed-height;
      z-index: 1000;

      &-input {
        padding: ($navbar-fixed-height - $navbar-fixed-line-height) 0;
        visibility: hidden;
        opacity: 0;
        height: $navbar-fixed-height;
        background: $navbar-fixed-panel-background;
        transition: .3s all ease;
        z-index: 1;

        input {
          display: block;
          width: 100%;
          padding: 0 $navbar-fixed-line-height 0 20px;
          height: $navbar-fixed-line-height - 8;
          font-size: 16px;
          line-height: 34px;
          color: $navbar-fixed-panel-color;
          background: darken($navbar-fixed-panel-background, 5%);
        }
      }

      &-submit {
        position: absolute;
        top: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
        right: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    &-toggle {
      &.active {
        opacity: 0;
        visibility: hidden;
      }
    }

    &.active {
      .rd-navbar-search-form-input,
      .rd-navbar-search-form-submit {
        opacity: 1;
        visibility: visible;
      }
    }

    @media (min-width: $screen-md-min) {
      &-form, .rd-navbar-live-search-results{
        max-width: 340px;
      }

      .rd-navbar-live-search-results{
        right: $navbar-fixed-height;
      }
    }
  }

  // RD Navbar Live Search Results
  .rd-navbar-live-search-results {
    @include transform(translateY(-100%));

    &.active {
      @include transform(translateY(0));
    }
  }

  // RD Navbar Nav
  .rd-navbar-inner {
    @include transform(translateX(-270px));
  }

  // Hybrid Styles
  .rd-navbar-collapse,
  .rd-navbar-search-toggle {
    position: fixed;
    top: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
    height: $navbar-fixed-line-height;
    z-index: 1000;
  }

  // RD Navbar States
  &.active {
    .rd-navbar-inner {
      @include transform(translateX(0));
    }
  }

  &.rd-navbar--on-search {
    @media (max-width: 1199px) {
      .brand-name {
        opacity: 0;
        visibility: hidden;
        @include transform(scale(0.7));
      }
    }
  }

  &.rd-navbar--is-clone {
    display: none;

    .rd-navbar-panel {
      @include transform(translateY(-110%));
    }

    &.rd-navbar--is-stuck {
      .rd-navbar-panel {
        @include transform(translateY(0));
      }
    }
  }

  .rd-navbar-fixed--visible {
    display: block;
  }

  .rd-navbar-fixed--hidden {
    display: none;
  }

  .rd-navbar-brand{
    img{
      height: $navbar-fixed-height - 10px;
      width: auto;
    }
  }

  .rd-navbar-icons{
    display: block;
    position: fixed;
    right: 10px;
    top: 14px;
    > li{
      margin-left: 15px;
    }

    > li > a{
      color: darken(desaturate(adjust_hue($primary, 0.27631578947369917), 24.44836716681376%), 18.62745098039216%);
      &:hover{
        color: darken(desaturate(adjust_hue($primary, 0.27631578947369917), 24.44836716681376%), 30.62745098039216%);
      }
    }
  }
}