@import "_variables.scss";
/*
* @package      Shortcodes
* @description  This package holds style declarations for
*               shortcodes page
*/

.icon-short-code{
  font-size: 16px;

  .box__left{
    padding-right: 10px;
    color: darken($contrast, 20%);
  }
}